{% extends "layout.html" %}

{% block title %}
<a href="/">CALENDAR APP</a>
{% endblock %}

{% block main %}
<div id="descblock">The best Calendar App in the world. Store your Schedules, Events, Anniversaries over here. With just a click!</div>
<table align="center" id="index_table">
    <tr>
        <td>
            <div><a href="/calendar">Add New Events -></a></div>
        </td>
        <td>
            <div><a href="/event_details">For Event Details -></a></div>
        </td>
    </tr>
</table>
{% endblock %}
