<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/style.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/ascript.js"></script>
    <script type="text/javascript" src="/static/bscript.js"></script>
    <script type="text/javascript" src="/static/cscript.js"></script>
    <script type="text/javascript" src="/static/dscript.js"></script>
    <script type="text/javascript" src="/static/escript.js"></script>
    <title>CALENDAR APP</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12" id="heading">
          {% block title %} {% endblock %}
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12" id="bodyblock">
          {% block main %} {% endblock %}
        </div>
      </div>
    </div>
  </body>
  {% block scripts %} {% endblock scripts %}
</html>
